

/* Leaflet Karte */
#map {
    height: 400px;
    margin: 30px;
    border-style: groove;
    flex:1;
    display: flex;  
}

/* Body*/
#body_contact{
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    min-width: 22rem;
}

/* Haupt-Überschriften*/
.headerh1{
    font-size: 40px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

/* Überschrift Anschrift*/
#sheader2{
    font-size: 20px;
}

/* Öffenungszeiten und Anschrift */
.con_text {  
    font-size: 17px;  
    background: rgba(255, 255, 255, 0.8);
    margin: 30px;
    padding: 15px;  
}

/* Bestellungen */
.con_textb{
    background: rgba(255, 255, 255, 0.8);
    margin: 30px;
    padding: 15px; 
    font-size: 17px;
    opacity: 0.9;
}

.con_text, .con_textb{
    font-size: 20px;
}
/* zurück-Link*/
#back{
    float: left;   
    font-size: 16px;   
}