
    body {    
        height: 100%;
        margin: 0;

        font-size: 100%; 
        font-family: 'Times New Roman', Times, serif;
        
        /*Hintergrundbild*/
        background-image: url("../image/HintergrundKaffee.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

        
    }

    /*Ausnahme bei deaktivierung von JavaSkript*/
    #keinJS{
        background-color: rgb(255, 204, 0);
        margin:0px;
        font-size:20px;
    }


/*  Kopf der Seite (header- und noscript-Tag)
    wichtige Einstellungen für body
    CSS für die Navigationsleiste
    Arbeitet mit JavaSkript zusammen um die Buttons umzusetzten
*/
    header{
        background-color: rgba(255, 255, 255, 0.9);
    }

    /*Ueberschrift*/
    #headline{
        font-size: 3.6em;
        margin: auto;
        text-align: center;
    }

    /*Navigationsleiste bleibt immer oben 
    (die Klasse sticky wird dem nav-Tag durch JS zugeordnet)*/
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        /*Hintergrund muss neu gesetzt werden*/
        background-color: rgba(255, 255, 255, 0.9);
    }

    /*Eigenschaften der ganzen Liste*/
        nav ul {
        list-style-type: none;    /*standard Styleeigenschaften löschen*/
        margin: 0;
        padding: 0;
        overflow: hidden;  
        }

        /*Eigenschaften der Listenelemente*/
        nav ul li {
            float: none;
            text-align: center;
            display:block; /* Inhalt der Liste zu Beginn  anzeigen, aber mit JS sofort verstecken*/
        }

        /*Eigenschaften der Links*/
        nav ul li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
        }

        /*Farbliche markierung durch hover*/
        nav ul li a:hover, .dropbtn:hover {        
            background-color: rgb(0, 0, 0, 0.7);
            color:white;
        }
        /*Farbliche markierung durch Tab*/
        nav ul li a:focus, .dropbtn:focus {        
            background-color: rgb(0, 0, 0, 0.7);
            color:white;
        }
        .dropdownAkt:focus-within #dropdown-content{
            display: block;
        }




    /*Eigenschaften SpeisekartenButton*/
        /*Speisekarten Dropdown zu Beginn verstecken*/
        #dropdown-content{
            display: none;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
        }

        /*SpeisekartenButton visuell anpassen*/
        .dropbtn { 
            width:100%;   
            border: none;
            outline: none;    
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            font-size: 25px;
            cursor: pointer;
        }

        /* bei hover ueber SpeisekartenButton wird der SpeisekartenDropdown angezeigt*/
        .dropdownAkt:hover #dropdown-content {
            display: block;    
        }
        

    /*Eigenschaften der Suchleiste*/
        /*Aussere Huelle*/
        form#SuchElement{
            float: none;
            height:29px;        
            width: 173px;
            padding: 14px;
            margin-left:auto;
            margin-right:auto;
        }
        /*Eine Umrandung erstellen*/
        form#SuchElement #SuchElementRand{
            padding: 0;
            margin: 0;
            height:100%;
            width: 100%;
            border: 1px solid black;
            background-color:white;
        }    
        /*Textfeld der Suchleiste*/
        form#SuchElement #Suchleiste{
            border: none;
            width: 141px;
            height: 100%;
            float:left;
            padding: 0;
        }
        /*Button der Suchleiste mit Bild von Lupe*/
        form #SuchButton{    
            border: none; 
            float:right;           
            padding: 0;
            margin: 0;
            width: 29px;
            height: 100%;
            background-color: white; 
            cursor: pointer;
        }
        /*Steuerung mit Tab*/
        #Suchleiste:focus {
            outline: 3px solid black;          
        }
        #SuchButton:focus {
            outline: 3px solid black;
        }
    
        


    /*Eigenschaften des MenueButtons*/
        #MenueButton, #MenueButton input{    
            float: right;
            border: none;
            outline: none;    
            padding: 0;
            margin: 0;
            width: 57px;
            height: 57px;
            background-color: inherit;
            cursor: pointer;
        }
        /*Steuerung mit Tab*/
        #MenueButton input:focus{
            outline: 3px solid black;
            width: 51px;
            height: 51px;
            margin: 3px;
        }
        


    /*Breakpoint fuer mobile-Ansicht*/
        @media screen and (min-width: 1450px) { 

            /*Listelemente immer und nebeneinander anzeigen*/
            nav ul li {
                float: left;
            }
            /*Speisekarten Dropdown absolute Position geben,
            damit es an der richtigen Stelle vertikal aufklappt*/
            #dropdown-content {
                position: absolute;
                width: 147.267px;     
            }
            /*Suchle und Menuebutton an den rechten Rand*/
            #firstElem{
                float: right;
            }
            /*MenueButton nicht mehr anzeigen*/
            #MenueButton{
                display: none;
            }

        }        

/*Hauptinhalt der Seite (main-Tag)*/
    .Rahmen{
        text-align: center;
        font-size: x-large;  

        background: rgba(255, 255, 255, 0.8);
        background-size: contain;
        color: black;
        position: static;

        
        padding: 25px;
        margin: 50px auto;
         width: fit-content;
    }
    /*"Ueber uns" Ausnahme*/
        #about p{
            text-align: justify;
        }
    /*Buttons im main*/
        #button{
            border: 2px solid black;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 10px;
        }
        #button:hover{
            background-color: rgb(0, 0, 0, 0.7);
            color:white;
        }
        #button:focus{
            background-color: rgb(0, 0, 0, 0.7);
            color:white;
        }


/*Fuß der Seite (footer-Tag)*/
    .footer {  
        width: 100%; 
        padding: 50px 0px 50px 0px;
        margin-top: 50px;
        display: flex;
        font-size: large;
        background: rgba(255, 255, 255, 0.8); 
    }
    .footElem{
        text-align: center;
        margin: 0 auto;
    }
    footer h4{
        margin: 10px 0px 0px 0px;
    }
    footer p{
        margin: 0px;
    }
